@import '../../../../assets/scss/abstracts/variables';
form {
    input, select {
        margin-bottom: 10px;        
    }

    .help-block {
        color: $red;
        font-size: 12px;
        position: relative;
        display: block;
        margin: -10px 0 10px;
    }

    h4 {
        position: absolute;
        top: 0;
        background: $grey;
        width: 100%;
        left: 0;
        padding: 10px 30px;        
    }

    > div {
        position: relative;
        top: 20px;
    }

    
}